# **Topic 1. 문자열 표현과 연산_실습**

**1) 문자열 '나는' 과 '너를...'을 붙여서 출력하세요.**

[결과 예시]

~~~
나는너를...
~~~

In [ ]:
print('나는' + '너를...')

**2) 문자열 '나는'과 '너를...' 사이에 한 칸 띄어서 출력하세요.**

[결과 예시]

~~~
나는 너를...
~~~

In [ ]:
print('나는' + ' ' + '너를...')

**3) '안녕하세요?' 3개와 '반갑습니다!' 2개를 하나의 print() 함수로 출력하세요.**

[결과 예시]

~~~
안녕하세요?안녕하세요?안녕하세요? 반갑습니다!반갑습니다!
~~~

In [ ]:
print('안녕하세요?' * 3, '반갑습니다!' * 2)

**4) 임의의 정수를 갖는 변수 e를 선언하고, 문자열 '안녕하세요?'를 갖는 변수 f를 선언한 후 변수 f의 값을 e 개 출력하세요.**

[결과 예시]

~~~
안녕하세요?안녕하세요?안녕하세요?
~~~

In [ ]:
e = 3
f = '안녕하세요?'
print(f * e)

**5) [결과 예시]와 같이 표시되도록 문자열을 변수 a로 선언하고 출력하세요.**

[결과 예시]

~~~
이름: 홍길동
나이: 48
~~~

In [ ]:
a = '''이름: 홍길동
나이: 48'''

print(a)

**6) [결과 예시]와 같이 표시되도록 문자열을 변수 b로 선언하고 출력하세요.**

[결과 예시]

~~~
[전화번호부]
강우동: 010-1234-5678
김칫국: 010-2346-1578
한국인: 010-3458-6712
~~~

In [ ]:
b = '''[전화번호부]
강우동: 010-1234-5678
김칫국: 010-2346-1578
한국인: 010-3458-6712
'''
print(b)