# **Lesson 2. 문자열 자료형_종합실습**

**1) 자신의 이름과 이메일을 적절한 변수로 선언하고 print() 함수로 각각 출력하세요.**

[결과 예시] 홍길동, hong@d-friends.co.kr을 대입한 경우

~~~
이름: 홍길동
이메일: hong@d-friends.co.kr
~~~

In [ ]:
# 변수 선언
name = '홍길동'
email = 'hong@d-friends.co.kr'

# 확인
print('이름:', name)
print('이메일:', email)

**2) 날짜 형식의 문자열을 갖는 변수 dt에 대해 다음 요구를 수행하세요.**

- 문자열 슬라이싱을 사용해 년, 월, 일을 yy, mm, dd 변수로 선언
- '2023년 12월 25일 입니다.' 형태로 출력
- 힌트: f-String을 사용하면 원하는 형태로 출력하기가 쉽습니다.

[결과 예시]

~~~
2023년 12월 25일 입니다.
~~~

In [ ]:
# 변수 선언
dt = '2023-12-25'

# 슬라이싱
yy = dt[:4]
mm = dt[5:7]
dd = dt[-2:]

# 확인
print(f'{yy}년 {mm}월 {dd}일 입니다.')

**3) score1, score2, score3 변수에 대해 다음 요구를 수행하세요.**

- 문자열 관련 함수를 사용해 각 문자열에 포함된 콤마를 제거
- 세 변수를 정수형 변수로 형 변환
- 세 변수의 합을 구하고 [결과 예시] 형태로 출력
- 힌트1: 일부 문자열을 변경하는 메서드, 정수로 변환하는 함수가 있습니다.
- 힌트2: 함수(변수.메서드()) 형태로 중첩해 사용할 수 있습니다.

[결과 예시]

~~~
합은 51,250 입니다.
~~~

In [ ]:
# 변수 선언
score1 = '12,450'
score2 = '23,000'
score3 = '15,800'

# 콤마 제거, 형 변환
score1 = int(score1.replace(',', ''))
score2 = int(score2.replace(',', ''))
score3 = int(score3.replace(',', ''))

# 합 구하기
score_sum = score1 + score2 + score3

# 확인
print(f'합은 {score_sum:,} 입니다.')

**4) 세 개의 문장이 [결과 예시]와 같이 출력되도록 하나의 변수를 선언하고 print() 함수로 출력하세요.**

- 힌트: 인용 부호를 몇 개 중복해 사용하면 여러 줄 문자열을 변수에 대입할 수 있습니다.

[결과 예시]

~~~
주문할게요.
아메리카노 3잔 주세요.
한 잔이 4000원 맞죠?
~~~

In [ ]:
# 변수 선언
order = '''주문할게요.
아메리카노 3잔 주세요.
한 잔이 4000원 맞죠?'''

# 확인
print(order)

**5) 세 개의 문장이 [결과 예시]와 같이 출력되도록 변수 order에 f'''문자열{변수}...''' 형태로 문자열을 대입하고 출력하세요.**

- 단, 변수 product에 '아메리카노', count에 3, price에 4000을 대입하세요.
- 또한, 가격은 천 단위 콤마가 포함되게 하세요.
- 힌트: 여러 줄 문자열을 f-String 형태로 선언해 보세요.

[결과 예시]

~~~
주문할게요.
아메리카노 3잔 주세요.
한 잔이 4,000원 맞죠?
~~~

In [ ]:
# 변수 선언
product = '아메리카노'
count = 3
price = 4000

# 주문 정보
order = f'''주문할게요.
{product} {count}잔 주세요.
한 잔이 {price:,}원 맞죠?'''

# 확인
print(order)