# **Lesson 2. 딕셔너리 자료형_종합실습**

**1) 다음 선언된 딕셔너리 score의 모든 값(value)에 50씩 더한 후 결과를 확인하세요.**

[결과 예시]

~~~
{'홍길동': 184, '일지매': 260, '한사랑': 200, '강우동': 250, '박여인': 280, '김칫국': 230}
~~~

In [ ]:
# 딕셔너리 선언
score = {'홍길동': 134,
         '일지매': 210,
         '한사랑': 150,
         '강우동': 200,
         '박여인': 230,
         '김칫국': 180}

# 값(value) 변경



# 확인

**2) 다음 선언된 딕셔너리 score에 '안경태', 190을 추가한 후 합계와 평균을 tot_score, avg_score에 대입한 후 확인하세요.**

[결과 예시]

~~~
합계: 1294
평균: 184.86
~~~

In [ ]:
# 딕셔너리 선언
score = {'홍길동': 134,
         '일지매': 210,
         '한사랑': 150,
         '강우동': 200,
         '박여인': 230,
         '김칫국': 180}

# 요소 추가


# 합계, 평균



# 확인

**3) 다음 선언된 딕셔너리 score에서 200이상인 요소만 추출해 딕셔너리 score_200으로 선언하고 확인하세요.**

[결과 예시]

~~~
{'일지매': 210, '강우동': 200, '박여인': 230}
~~~

In [ ]:
# 딕셔너리 선언
score = {'홍길동': 134,
         '일지매': 210,
         '한사랑': 150,
         '강우동': 200,
         '박여인': 230,
         '김칫국': 180,
         '안경태': 190}

# 200 이상


# 확인

**4) 다음 선언된 두 리스트 m_name, m_score를 사용해 [결과 예시]처럼 요소를 갖는 딕셔너리 movie를 선언하고 확인하세요.**

[결과 예시]

~~~
{'인어공주': 4.9, '라이언킹': 4.8, '라푼젤': 4.0, '신데렐라': 4.3, '미녀와야수': 4.8}
~~~

In [ ]:
# 리스트 선언
m_name = ['인어공주', '라이언킹', '라푼젤', '신데렐라', '미녀와야수']
m_score = [4.9, 4.8, 4.0, 4.3, 4.8]

# 딕셔너리 선언




# 확인