# **Topic 2. 표시 형식 지정_실습**

**1) 변수 a에 문자열 '이름: {}, 나이: {}'를 대입하고 .format()으로 적당한 값을 넣어 출력하세요.**

[결과 예시]


~~~
이름: 홍길동, 나이: 23
~~~

In [ ]:
a =
print(a.format( ))

**2) 다음 요구에 따라 변수를 선언하고 문자열을 출력하세요.**

- 변수 name에 자신의 이름 대입
- 변수 age에 자신의 나이 대입
- 변수 a에는 f'문자열{변수}...' 형태로 [결과 예시]와 같은 형태로 결과가 출력되게 대입

[결과 예시]

~~~
이름: 홍길동, 나이: 23
~~~

In [ ]:
name =
age =
a =
print(a)

**3) 변수 b에 {}를 넣은 문자열 '{}은(는) {}원입니다.'를 대입하고 .format()으로 적당한 값을 넣어 출력하세요.**

- 단, 가격은 천 단위 콤마가 포함되어야 함

[결과 예시]

~~~
아메리카노은(는) 4,000원입니다.
~~~

In [ ]:
b =
print(b.format( ))

**4) 다음 요구에 따라 변수를 선언하고 문자열을 출력하세요.**

- 변수 product에 임의의 제품명 대입
- 변수 price에 위 제품의 적절한 가격 대입
- 변수 b에 f'문자열{변수}...'형태로 [결과 예시]와 같은 형태로 결과가 출력되게 대입
- 단, 가격은 천 단위 콤마가 포함되어야 함

[결과 예시]

~~~
아메리카노은(는) 4,000원입니다.
~~~

In [ ]:
product =
price =
b =
print(b)