# **Lesson 3. 리스트 자료형_예제**
데이터 분석 초급 과정 1 (Python) > Module 1. Python Basics

## **Topic 1. 리스트에 대한 이해**

- 파이썬에서 가장 많이 사용되는 자료형이 리스트입니다.
- 요소들을 묶어서 처리하는 리스트의 특성을 잘 이해해야 합니다.

### **1) 일반 변수를 사용하면**

- 5명 학생 성적을 처리하기 위해 5개 변수가 필요합니다.
- 50명 학생 성적을 처리한다면 50개 변수가 필요합니다.

In [ ]:
# 변수 선언
score1 = 85
score2 = 90
score3 = 80
score4 = 75
score5 = 95

- 합을 구하려면 모든 변수를 다음과 같이 더해야 하니 정말 번거롭습니다.
- 5개 정도 되니 참고 썼지, 만일 변수가 50개 라면...상상하기 싫습니다.
- 5개 값 중에서 최댓값을 구하는 것은 어떻게 해야 할지 모르겠습니다.

In [ ]:
# 합 구하기
score_sum = score1 + score2 + score3 + score4 + score5

# 확인
print(score_sum)

### **2) 리스트를 사용하면**

- 5명이든 50명이든 학생 성적을 리스트 하나로 처리할 수 있습니다.

In [ ]:
# 리스트 선언
score = [85, 90, 80, 75, 95]

# 확인
print(score)

- sum() 함수로 합을 쉽게 구할 수 있습니다.

In [ ]:
# 합 구하기
score_sum = sum(score)

# 확인
print(score_sum)

- max() 함수로 최댓값을 쉽게 구할 수 있습니다.

In [ ]:
# 최댓값 구하기
score_max = max(score)

# 확인
print(score_max)

### **3) 리스트 만들기**

#### **① 비어있는 리스트 만들기**

- 이후 요소를 받기 위해 비어있는 리스트를 만드는 경우가 있습니다.
- list() 함수는 다른 자료형을 리스트로 변환하는 함수입니다.

In [ ]:
# 빈 리스트 선언
score1 = []
score2 = list()

# 확인
print(score1)
print(score2)

#### **② 같은 자료형을 요소로 갖는 리스트**

- 같은 자료형의 데이터를 요소로 갖는 리스트가 가장 일반적인 리스트 유형입니다.

In [ ]:
# 리스트 선언
score3 = [85, 95, 90, 75]

# 확인
print(score3)

#### **③ 여러 자료형을 요소로 갖는 리스트**

- 여러 자료형의 값을 요소로 갖는 리스트를 만들 수 있습니다.

In [ ]:
# 리스트 선언
member = ['홍길동', 85, '한사랑', 95, '일지매', 90,'박여인', 75]

# 확인
print(member)

#### **④ 리스트를 요소로 갖는 리스트**

- 리스트를 요소로 갖는 리스트(List of List)를 만들 수 있습니다.
- 아래 리스트와 같은 형태를 2차원 리스트라고 부릅니다.
- 요소 세 개씩을 갖는 리스트 세 개가 score4 리스트의 요소입니다.

In [ ]:
# 2차원 리스트 선언
score4 = [[80, 90, 75], [85, 70, 99], [90, 75, 80]]

# 확인
print(score4)

### **4) 리스트 연산**

- 리스트 연산은 문자열 연산과 같은 결과를 보여줍니다.
- 더하기는 연결을, 곱하기는 반복을 의미합니다.
- 빼기와 나누기 연산은 불가능합니다.

#### **① 리스트 연결**

- 리스트를 더하면 두 리스트가 연결되는 결과를 보입니다.

In [ ]:
# 리스트 선언
score1 = [90, 80, 95, 70]
score2 = [70, 75, 90, 100]

# 리스트 연결
score3 = score1 + score2

# 확인
print(score3)

#### **② 리스트 반복**

- 리스트에 정수를 곱하면 그 수만큼 요소가 반복됩니다.

In [ ]:
# 리스트 선언
score1 = [90, 80, 95, 70]

# 리스트 요소를 곱한 수 만큼 반복하기
score2 = score1 * 2
score3 = score1 * 3

# 확인
print(score1)
print(score2)
print(score3)

### **5) 리스트 집계**

- 집계함수를 사용해 리스트 요소에 대한 집계를 수행합니다.
- 요소 개수는 len() 함수를 사용해 확인합니다.

In [ ]:
# 리스트 선언
score = [90, 80, 95, 70]

# 다양한 집계
score_sum = sum(score)
score_max = max(score)
score_min = min(score)
score_cnt = len(score)

# 확인
print(score_sum)
print(score_max)
print(score_min)
print(score_cnt)

- 평균을 구하는 함수가 없으므로 합을 개수로 나눠 계산합니다.

In [ ]:
# 리스트 선언
score = [90, 80, 95, 70]

# 합 구하기
score_avg = sum(score) / len(score)

# 확인
print(score_avg)

## **Topic 2. 리스트 쉽게 만들기**

- 리스트를 만들 때 편리하게 사용할 수 있는 방법들이 있습니다.
- 특히 range() 함수 활용 방법은 잘 익혀두어야 합니다.

### **1) range() 함수 활용**

- 연속된 정수로 리스트를 만들 때는 range() 함수를 사용하면 편리합니다.
- range() 함수로 리스트를 만드는 것이 아니라 이 함수로 얻은 값을 리스트로 변환합니다.
- range() 함수는 튜플, 집합, 딕셔너리 등을 만들 때도 사용됩니다.

#### **① 기본 사용법**

- range(*n*): 0 부터 n-1 까지의 정수 범위가 됩니다.

In [ ]:
# 0 ~ 9 정수를 요소로 갖는 리스트
nums = list(range(10))

# 확인
print(nums)


- range(*m*, *n*): m 부터 n-1 까지의 정수 범위가 됩니다.

In [ ]:
# 위 결과와 동일
nums = list(range(0, 10))

# 확인
print(nums)

In [ ]:
# -5 ~ 5 사이 정수를 요소로 갖는 리스트
nums = list(range(-5, 6))

# 확인
print(nums)

#### **② 증가값 지정**

- range(*m, n, x*): m 부터 n-1 까지 x 만큼씩 증가하는 정수가 됩니다.

In [ ]:
# 0 ~ 9 사이, 2씩 증가하는 정수를 요소로 갖는 리스트
nums = list(range(0, 10, 2))

# 확인
print(nums)

In [ ]:
# 0 ~ 9 사이, 3씩 증가하는 정수를 요소로 갖는 리스트
nums = list(range(0, 10, 3))

# 확인
print(nums)

In [ ]:
# 9 ~ 0 사이, 1씩 감소하는 정수를 요소로 갖는 리스트
nums = list(range(9, -1, -1))

# 확인
print(nums)

### **2) 문자열을 리스트로 변환**

- 문자열은 문자들이 연결되어 만들어진 자료형입니다.
- list() 함수를 사용해 개별 문자로 분할해 리스트를 만들 수 있습니다.
- 자주 사용될 기능은 아니지만 문자열의 특징으로 알고 있으면 좋을 것입니다.

In [ ]:
# 문자열 --> 리스트
str1 = list('PYTHON')
str2 = list('123456789')

# 확인
print(str1)
print(str2)

## **Topic 3. 인덱싱과 슬라이싱**

- 리스트는 요소의 순서가 의미가 있습니다.
- 그래서 인덱싱과 슬라이싱을 사용해 요소나 요소 범위를 조회할 수 있습니다.

### **1) 리스트 인덱싱**

- 대괄호, 즉 [ ] 안에 인덱스를 지정합니다.
- 0부터 시작하는 인덱스를 사용해 원하는 위치의 요소를 확인합니다.
- 인덱스 역방향은 -1부터 시작됩니다.

In [ ]:
# 리스트 만들기
member = ['홍길동', 85, '한사랑', 95, '일지매', 90, '박여인', 75]

# 인덱싱
print(member[0])
print(member[3])
print(member[-1])
print(member[-7])

- 리스트를 요소로 갖는 리스트에 대한 인덱싱은 다음과 같습니다.

In [ ]:
# 리스트를 요소로 갖는 리스트
score = [80, [90, 100, 85], 85, 90]

# 인덱싱
print(score[0])
print(score[1])
print(score[-1])
print(score[-3])
print(score[1][2])

### **2) 리스트 슬라이싱**

- 인덱스를 사용해 특정 범위의 요소를 찾는 과정을 슬라이싱이라고 합니다.
- 대괄호안에 [*m* : *n*] 형태로 범위를 지정하여 요소를 확인합니다.
- 인덱스 m 부터 n-1 까지, 즉 인덱스 n의 요소는 결과에 포함되지 않습니다.

<img src='https://raw.githubusercontent.com/jangrae/img/master/list_indexing.png' width=540 align = "left"/>

In [ ]:
# 리스트 만들기
member = ['홍길동', 85, '한사랑', 95, '일지매', 90,' 박여인', 75]

# 슬라이싱
print(member[2:6])
print(member[6:])
print(member[:4])
print(member[:])
print(member[0:-2])

- 리스트를 요소로 갖는 리스트에 대한 슬라이싱은 다음과 같습니다.

In [ ]:
# 리스트를 요소로 갖는 리스트
score = [80, [90, 100, 85], 85, 90]

# 슬라이싱
score[1][1:3]

## **Topic 4. 변경, 추가, 삭제**

- 리스트는 변경 가능한 자료형이므로 요소를 변경, 추가, 삭제할 수 있습니다.

### **1) 리스트 요소 변경**

- 인덱싱 또는 슬라이싱으로 찾은 후 새로운 값을 대입해 요소를 변경합니다.

#### **① 범위 내 변경**

- 기존 요소의 값이 변경됩니다.

In [ ]:
# 리스트 선언
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 특정 요소 값 변경
nums[1] = 10

# 확인
print(nums)

In [ ]:
# 범위내 요소 값 변경
nums[2:4] = [20, 30]

# 확인
print(nums)

In [ ]:
# 범위내 요소 값 변경
nums[4:7] = [40, 50]

# 확인
print(nums)

#### **② 범위 밖 변경**

- 범위를 벗어나는 요소 값을 변경하면 요소가 추가됩니다.
- 범위가 꼭 연결되지 않아도 됩니다.

In [ ]:
# 범위를 벗어나는 요소 값 변경
nums[6:] = [70, 80, 90, 100]

# 확인
print(nums)

In [ ]:
# 범위를 완전히 벗어나는 요소 값 변경
nums[600:] = [110, 120]

# 확인
print(nums)

### **2) 리스트 요소 추가**

- append(), insert(), extend() 메서드를 사용해 요소를 추가합니다.

#### **① 뒤에 요소 하나 추가**

- append() 메서드를 사용해서 맨 뒤에 요소 하나를 추가할 수 있습니다.

In [ ]:
# 리스트 선언
nums = [1, 2, 3, 4]

# 요소 추가
nums.append(5)
nums.append(6)

# 확인
print(nums)

#### **② 중간에 요소 삽입**

- insert() 메서드를 사용하면 원하는 위치에 요소 하나를 삽입할 수 있습니다.

In [ ]:
# 리스트 선언
nums = [1, 2, 4, 5]

# 요소 삽입
nums.insert(2, 3)

# 확인
print(nums)

#### **③ 리스트 연결**

- 리스트에 리스트를 더하면 리스트가 연결됩니다.

In [ ]:
# 리스트 선언
nums = [1, 2, 3, 4]

# 리스트 연결
nums = nums + [5, 6, 7, 8, 9]

# 확인
print(nums)

- extend() 메서드 사용해 리스트 뒤에 리스트를 붙일 수 있습니다.

In [ ]:
# 리스트 선언
nums = [1, 2, 3, 4]

# 리스트 연결
nums.extend([5, 6, 7, 8, 9])

# 확인
print(nums)

### **3) 리스트 요소 삭제**

- 리스트 인덱싱 또는 슬라이싱 결과를 del 문을 사용해 삭제합니다.

#### **① 특정 요소 삭제**

- del 다음에 인덱싱 구문을 추가해 해당 요소를 삭제할 수 있습니다.

In [ ]:
# 리스트 선언
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 요소 삭제
del nums[7]

# 확인
print(nums)

#### **② 범위 삭제**

- del 다음에 슬라이싱 구문을 추가해 해당 범위 요소를 삭제할 수 있습니다.

In [ ]:
# 리스트 선언
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 요소 범위 삭제
del nums[4:]

# 확인
print(nums)

#### **③ 전체 삭제**

- [ ]를 대입하거나 clear() 메서드로 리스트를 초기화할 수 있습니다.

In [ ]:
# 모든 요소 삭제
nums = []

# 또는
#nums.clear()

# 확인
print(nums)

## **Topic 5. 관련 메서드**

- 문자열 관련 메서드에 의한 변경은 변수에 바로 반영되지 않습니다.
- 하지만 리스트 관련 메서드에 의한 변경은 변수에 바로 반영이 됩니다.

### **1) 추가용 메서드**

- 다음 메서드들을 사용해 리스트에 요소를 추가할 수 있습니다.

#### **① append() 메서드**

- append() 메서드를 사용해 요소 하나를 추가할 수 있습니다.

In [ ]:
# 리스트 만들기
score = [1, 2, 3, 4]

# 리스트 맨 뒤에 새로운 요소 추가
score.append(5)

# 확인
print(score)

#### **② insert() 메서드**

- insert() 메서드를 사용해 지정한 위치에 요소를 삽입할 수 있습니다.
- 맨 뒤에 삽일할 때는 -1, 맨 앞에 삽입할 때는 0을 위치로 지정합니다.

In [ ]:
# 리스트 선언
member = ['일지매', '박여인', '한사랑']

# '박여인' 앞에 '한국인' 삽입
member.insert(1, '한국인')

# 확인
print(member)

In [ ]:
# '한사랑' 앞에 '강우동' 삽입
member.insert(-1, '강우동')

# 확인
member

#### **③ extend() 메서드**

- extend() 메서드를 사용해 요소 여러 개를 추가할 수 있습니다.

In [ ]:
# 리스트 만들기
score = [1, 2, 3, 4]

# 요소 여럿 추가
score.extend([5, 6, 7])
score.extend([8, 9, 10])

# 확인
print(score)

- 리스트를 연결하는 방법으로 위와 같은 결과를 얻을 수 있습니다.

In [ ]:
# 리스트 만들기
score = [1, 2, 3, 4]

# 리스트 연결
score = score + [5, 6, 7]
score = score + [8, 9, 10]

# 확인
print(score)

### **2) 탐색용 메서드**

- 다음 메서드들을 사용해 특정 요소의 개수나 위치를 확인할 수 있습니다.

#### **① count() 메서드**

- count() 메서드를 사용해 특정 요소가 몇 개 포함되어 있는지 확인할 수 있습니다.
- 지정한 요소가 없으면 0을 반환합니다.

In [ ]:
# 리스트 선언
score = [90, 80, 95, 70, 100, 65, 70, 100]

# 100이 몇 개인지 확인
print(score.count(100))

#### **② index() 메서드**

- index() 메서드를 사용해 지정한 요소의 위치를 확인할 수 있습니다.
- 지정한 요소가 없으면 오류가 발생합니다.

In [ ]:
# 리스트 선언
score = [90, 80, 95, 70, 100, 65, 70, 100]

# 100의 첫 번째 위치 확인
print(score.index(100))

### **3) 정렬용 메서드**

- 다음 메서드들을 사용해 요소를 정렬하거나 순서를 역으로 바꿀 수 있습니다.

#### **① sort() 메서드**

- sort() 메서드를 사용해 요소를 오름차순 또는 내림차순으로 정렬할 수 있습니다.
- reverse 매개변수를 True로 설정하면 내림차순 정렬이 됩니다.

In [ ]:
# 리스트 만들기
member = ['홍길동', '일지매', '박여인', '한사랑', '강우동']

# 오름차순 정렬
member.sort()

# 확인
print(member)

In [ ]:
# 내림차순 정렬
member.sort(reverse=True)

# 확인
print(member)

- 참고로, sorted() 함수를 사용해 정렬된 결과를 반환받을 수 있습니다.
- 기존 리스트는 변경되지 않습니다.

In [ ]:
# 리스트 만들기
member = ['홍길동', '일지매', '박여인', '한사랑', '강우동']

# 오름차순 정렬
member2 = sorted(member)

# 확인
print(member)
print(member2)

#### **② reverse() 메서드**

- reverse() 메서드를 사용해 요소 순서를 역으로 변경할 수 있습니다.

In [ ]:
# 리스트 선언
member = ['홍길동', '일지매', '박여인', '한사랑', '강우동']

# 요소 뒤집기
member.reverse()

# 확인
print(member)

- 참고로, reversed() 함수를 사용해 요소 순서가 역으로 변경된 결과를 반환받을 수 있습니다.
- 단, list() 함수를 사용해 리스트로 변환해야 합니다.
- 기존 리스트는 변경되지 않습니다.

In [ ]:
# 리스트 선언
member = ['홍길동', '일지매', '박여인', '한사랑', '강우동']

# 요소 뒤집기
member2 = reversed(member)

# 확인
print(member)
print(list(member2))

### **4) 삭제용 메서드**

- 다음 메서드들을 사용해 요소를 삭제할 수 있습니다.

#### **① remove() 메서드**

- remove() 메서드를 사용해 첫 번째 나타나는 지정한 요소를 삭제할 수 있습니다.
- 지정한 요소가 없으면 오류가 발생합니다.

In [ ]:
# 리스트 선언
member = ['홍길동', '일지매', '박여인', '한사랑', '일지매', '강우동']

# 요소 삭제
member.remove('일지매')

# 확인
print(member)

#### **② pop() 메서드**

- pop() 메서드를 사용해 지정한 위치의 요소를 반환받고 해당 요소를 삭제할 수 있습니다.
- 위치를 지정해 삭제하므로 어떤 요소가 삭제되었는지 확인하는 방법이 됩니다.
- 지정한 위치에 요소가 없으면 오류가 발생합니다.

In [ ]:
# 리스트 선언
member = ['홍길동', '일지매', '박여인', '한사랑', '강우동']

# 요소 삭제
who = member.pop(1)

# 확인
print(member)
print(who)

#### **③ clear() 메서드**

- clear() 메서드를 사용해 모든 요소를 삭제할 수 있습니다.

In [ ]:
# 리스트 선언
member = ['홍길동', '일지매', '박여인', '한사랑', '강우동']

# 모든 요소 삭제
member.clear()

# 확인
print(member)