# **Topic 1. 튜플 자료형_실습**

**1) 1, 2, 3, 4, 5를 요소로 갖는 튜플 a를 선언하고 확인하세요.**

[결과 예시]

~~~
(1, 2, 3, 4, 5)
~~~

In [ ]:
a = (1, 2, 3, 4, 5)
print(a)

**2) 1, '홍길동', 2, '일지매'를 요소로 갖는 튜플 b를 선언하고 확인하세요.**

[결과 예시]

~~~
(1, '홍길동', 2, '일지매')
~~~

In [ ]:
b = (1, '홍길동', 2, '일지매')
print(b)

**3) 1, 2, 3, 4를 요소로 갖는 튜플 c와, 5, 6, 7, 8을 요소로 갖는 튜플 d를 선언하고 확인하세요.**

[결과 예시]

~~~
(1, 2, 3, 4)
(5, 6, 7, 8)
~~~

In [ ]:
c = (1, 2, 3, 4)
d = (5, 6, 7, 8)
print(c)
print(d)

**4) range() 함수를 사용해 1부터 10까지의 정수를 요소로 갖는 튜플 n1을 선언하고 확인하세요.**

[결과 예시]

~~~
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
~~~

In [ ]:
n1 = tuple(range(1, 11))
print(n1)

**5) 2, 3, 1, 2, 5, 2, 6, 4, 2, 7, 1, 3, 4를 요소로 갖는 튜플 t1을 선언한 후 요소 개수를 확인하세요.**

[결과 예시]

~~~
13
~~~

In [ ]:
t1 = (2, 3, 1, 2, 5, 2, 6, 4, 2, 7, 1, 3, 4)
print(len(t1))

**6) 2, 3, 1, 2, 5, 2, 6, 4, 2, 7, 1, 3, 4를 요소로 갖는 튜플 t1을 선언한 후 요소 2의 개수를 확인하세요.**

[결과 예시]

~~~
4
~~~

In [ ]:
t1 = (2, 3, 1, 2, 5, 2, 6, 4, 2, 7, 1, 3, 4)
print(t1.count(2))

**7) 2, 3, 1, 2, 5, 2, 6, 4, 2, 7, 1, 3, 4를 요소로 갖는 튜플 t1을 선언한 후 요소 1이 처음 위치한 인덱스를 확인하세요.**

[결과 예시]

~~~
2
~~~

In [ ]:
t1 = (2, 3, 1, 2, 5, 2, 6, 4, 2, 7, 1, 3, 4)
print(t1.index(1))