# **Topic 5. 관련 메서드_실습**

**1) 2, 3, 1, 2, 5, 2, 6, 4, 2, 7, 1, 3, 4를 요소로 갖는 리스트 n1을 선언한 후 요소 개수를 확인하세요.**

[결과 예시]

~~~
13
~~~

In [ ]:
n1 = [2, 3, 1, 2, 5, 2, 6, 4, 2, 7, 1, 3, 4]
print(len(n1))

**2) 2, 3, 1, 2, 5, 2, 6, 4, 2, 7, 1, 3, 4를 요소로 갖는 리스트 n1을 선언한 후 요소 2의 개수를 확인하세요.**

[결과 예시]

~~~
4
~~~

In [ ]:
n1 = [2, 3, 1, 2, 5, 2, 6, 4, 2, 7, 1, 3, 4]
print(n1.count(2))

**3) 'c', 'a', 'b', 'd'를 요소로 갖는 리스트 s1을 선언한 후 오름차순으로 정렬한 후 확인하세요.**

[결과 예시]

~~~
['a', 'b', 'c', 'd']
~~~

In [ ]:
s1 = ['c', 'a', 'b', 'd']
s1.sort()
print(s1)

**4) 'c', 'a', 'b', 'd'를 요소로 갖는 리스트 s1을 선언한 후 내림차순으로 정렬한 후 확인하세요.**

[결과 예시]

~~~
['d', 'c', 'b', 'a']
~~~

In [ ]:
s1 = ['c', 'a', 'b', 'd']
s1.sort(reverse=True)
print(s1)

**5) '홍길동', '일지매', '한사랑', '강우동'을 요소로 갖는 리스트 s2를 선언한 후 요소 순서를 역으로 변경하고 확인하세요.**

[결과 예시]

~~~
['강우동', '한사랑', '일지매', '홍길동']
~~~

In [ ]:
s2 = ['홍길동', '일지매', '한사랑', '강우동']
s2.reverse()
print(s2)

**6) '행복', '사랑', '좌절', '희망'을 요소로 갖는 리스트 mind를 선언한 후 '좌절'을 삭제하고 확인하세요.**

[결과 예시]

~~~
['행복', '사랑', '희망']
~~~

In [ ]:
mind = ['행복', '사랑', '좌절', '희망']
mind.remove('좌절')
print(mind)

**7) '행복', '사랑', '좌절', '희망'을 요소로 갖는 리스트 mind를 선언한 후 세 번째 요소를 삭제하고 확인하세요.**

- 단, 삭제된 요소가 무엇인지 변수로 받아 확인하세요.

[결과 예시]

~~~
['행복', '사랑', '희망']
삭제: 좌절
~~~

In [ ]:
mind = ['행복', '사랑', '좌절', '희망']
deleted = mind.pop(2)
print(mind)
print('삭제:', deleted)