# **Topic 2. print() 함수_실습**

**1) 숫자 123456을 print() 함수로 출력하세요.**

[결과 예시]

~~~
123456
~~~

**2) 숫자 123과 456을 각각 print() 함수로 출력하세요.**

[결과 예시]

~~~
123
456
~~~

**3) 숫자 123과, 456을 하나의 print() 함수로 출력하세요.**

[결과 예시]

~~~
123 456
~~~

**4) 문자열 '파이썬을 배웁시다.'와 '누구든 할 수 있습니다.'를 각각의 print() 함수로 출력하세요.**

[결과 예시]

~~~
파이썬을 배웁시다.
누구든 할 수 있습니다.
~~~

**5) 문자열 '파이썬을 배웁시다.'와 '누구든 할 수 있습니다.'를 하나의 print() 함수로 출력하세요.**

[결과 예시]

~~~
파이썬을 배웁시다. 누구든 할 수 있습니다.
~~~

**6) 숫자 123, 문자열 '오늘은', 문자열 '12월25일 입니다.'를 각각의 print() 함수로 출력하세요.**

[결과 예시]

~~~
123
오늘은
12월25일 입니다.
~~~

**7) 숫자 123, 문자열 '오늘은', 문자열 '12월25일 입니다.'를 각각의 print() 함수로 출력하세요.**

- 단, end 매개변수를 사용해 모든 값이 한 줄에 표시되게 하세요.

[결과 예시]

~~~
123 오늘은 12월25일 입니다.
~~~

**8) 숫자 123, 문자열 '오늘은', 문자열 '12월25일 입니다.'를 하나의 print() 함수로 출력하세요.**

[결과 예시]

~~~
123 오늘은 12월25일 입니다.
~~~

**9) 숫자 123, 문자열 '오늘은', 문자열 '12월25일 입니다.'를 하나의 print() 함수로 출력하세요.**

- 단, sep 매개변수를 사용해 공백으로 구분되지 않고 붙어서 출력되게 하세요.

[결과 예시]

~~~
123오늘은12월25일 입니다.
~~~