# **Topic 4. 자료형 변환_실습**

**1) 다음 주어진 변수를 이어지는 요구에 따라 형 변환을 수행하세요.**

In [ ]:
score = 1234.56

① 정수로 변환하여 변수 n1으로 선언하고 확인

[결과 예시]

~~~
<class 'int'>
1234
~~~

In [ ]:
n1 =
print( )
print(n1)

② 문자열로 변환하여 변수 s1으로 선언하고 확인

[결과 예시]

~~~
<class 'str'>
1234.56
~~~

In [ ]:
s1 =
print( )
print(s1)

**2) 다음 주어진 변수를 이어지는 요구에 따라 형 변환을 수행하세요.**

- 단, 오류가 발생하면 그 원인을 설명하세요.

In [ ]:
score = '1234.56'

① 실수로 변환하여 변수 n1으로 선언하고 확인

[결과 예시]

~~~
<class 'float'>
1234.56
~~~

In [ ]:
n1 =
print( )
print(n1)

② 정수로 변환하여 변수 n2로 선언하고 확인

[결과 예시]

~~~
문자열을 정수로 변환할 수 없음
~~~

In [ ]:
n2 =
print( )
print(n2)

③ 실수로 변환한 후 다시 정수로 변환하여 변수 n2로 선언하고 확인

[결과 예시]

~~~
<class 'int'>
1234
~~~

In [ ]:
n2 =
print( )
print(n2)

**3) 다음 요구에 따라 형 변환을 수행하세요.**

① 변수 b1을 정수로 변환하여 변수 n1으로 선언하고 확인

[결과 예시]

~~~
1
~~~

In [ ]:
b1 = True
n1 =
print(n1)

② 변수 b2를 실수로 변환하여 변수 n2로 선언하고 확인

[결과 예시]

~~~
0.0
~~~

In [ ]:
b2 = False
n2 =
print(n2)

③ 변수 n1을 부울로 변환하여 변수 b1으로 선언하고 확인

[결과 예시]

~~~
True
~~~

In [ ]:
n1 = -10
b1 =
print(b1)

- 변수 n2를 부울로 변환하여 변수 b2로 선언하고 확인

[결과 예시]

~~~
False
~~~

In [ ]:
n2 = 0
b2 =
print(b2)