# **Lesson 1. 튜플과 집합 자료형**
데이터 분석 초급 과정 1 (Python) > Module 2. Python Skill-Up

## **Topic 1. 튜플 자료형**

### **1) 튜플 만들기**

- 리스트는 대괄호 [ ], 튜플은 소괄호( )를 사용해 선언합니다.
- 튜플의 소괄호는 생략할 수 있습니다.

#### **① 빈 튜플**

- 다음은 빈 튜플을 만드는 두 가지 방법입니다.

In [ ]:
# 빈 튜플 만들기 #1
score = ()

# 확인
print(score)
print(type(score))

In [ ]:
# 빈 튜플 만들기 #2
score = tuple()

# 확인
print(score)
print(type(score))

#### **② 요소가 하나인 튜플**

- 다음은 요소가 하나인 튜플을 만드는 구문이 아닌 정수형 변수를 선언한 구문입니다.

In [ ]:
# 튜플 선언(?)
score = (90)

# 확인
print(score)
print(type(score))

- 요소가 하나인 튜플은 다음과 같이 콤마를 추가해서 만들어야 합니다.

In [ ]:
# 튜플 선언
score = (90,)

# 확인
print(score)
print(type(score))
print(len(score))

#### **③ 다양한 튜플**

In [ ]:
# 튜플 선언
score1 = (90, 85, 70)
score2 = 90, 85, 70
score3 = (90, 85, 70, ('A', 'B', 'D', 'F'))
score4 = (90, 85, 70, ['A', 'B', 'D', 'F'])

# 확인
print(score1)
print(score2)
print(score3)
print(score4)

In [ ]:
# range() 함수 사용
num1 = list(range(5))
num2 = tuple(range(5))

# 확인
print(num1)
print(num2)

In [ ]:
# 문자열 --> 튜플
char1 = list('PYTHON')
char2 = tuple('PYTHON')

# 확인
print(char1)
print(char2)

### **2) 리스트 vs 튜플**

- 리스트는 요소를 변경할 수 있습니다.

In [ ]:
# 리스트 선언
a = [1, 2, 3, 4, 5]

# 요소 변경
a[0] = 10

# 확인
print(a)

- 튜플은 요소를 변경할 수 없습니다.

In [ ]:
# 튜플 만들기
b = (1, 2, 3, 4, 5)

# 요소 변경
b[0] = 10

### **3) 관련 메서드**

- 튜플은 요소를 변경할 수 없어서 조회를 위한 몇 가지 메서드만 존재합니다.

#### **① count() 메서드**

- count() 메서드를 사용해 특정 요소가 몇 개 포함되어 있는지 확인할 수 있습니다.
- 지정한 요소가 없으면 0을 반환합니다.

In [ ]:
# 튜플 선언
score = (90, 80, 95, 70, 100, 65, 70, 100)

# 100점이 몇 개인지 확인
print(score.count(100))

#### **② index() 메서드**

- index() 메서드를 사용해 지정한 요소의 위치를 확인할 수 있습니다.
- 지정한 요소가 없으면 오류가 발생합니다.

In [ ]:
# 튜플 선언
score = (90, 80, 95, 70, 100, 65, 70, 100)

# 100의 첫 번째 위치 확인
print(score.index(100))

## **Topic 2. 집합 자료형**

### **1) 집합 만들기**

#### **① 같은 자료형을 갖는 집합**

In [ ]:
# 집합 선언
nums = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# 확인
print(nums)

In [ ]:
# 집합 선언
members = {'홍길동', '한사랑', '일지매', '박여인'}

# 확인
print(members)

#### **② 여러 자료형을 갖는 집합**

In [ ]:
# 집합 선언
etc = {'홍길동', 100, (1, 2, 3), '박여인'}

# 확인
print(etc)

#### **③ 문자열 → 집합**

- list(), tuple() 함수로 문자열을 리스트나 튜플로 변환할 수 있습니다.
- set() 함수로 개별 문자를 요소로 갖는 집합을 만들 수 있습니다.
- 같은 요소를 갖지 않는 집합의 특징에 따라 **중복된 문자는 제거**됩니다.

In [ ]:
# 집합 선언
hello = set('잘지내지요')

# 확인
print(hello)

#### **④ range() → 집합**

- range() 함수로 리스트, 튜플, 집합등 다양한 자료형을 만들 수 있습니다.

In [ ]:
# 집합 선언
nums = set(range(0, 10))

# 확인
print(nums)

#### **⑤ 리스트 → 집합**

- 리스트가 집합으로 변환되면 중복된 요소는 제거됩니다.

In [ ]:
# 리스트 선언
member = ['홍길동', '한사랑', '홍길동', '일지매', '박여인']

# 집합 선언
member1 = set(member)

# 확인
print(member1)

### **2) 합집합, 교집합, 차집합**

- 집합 자료형을 사용하는 주된 목적은 합집합, 교집합, 차집합 연산을 위한 것입니다.

#### **① 합집합**

- 합집합은 | 또는 union() 메서드를 사용해 구합니다.

In [ ]:
# 집합 선언
member_set1 = {'홍길동', '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 합집합 구하기 #1
member_set3 = member_set1 | member_set2

# 확인
print(member_set3)

In [ ]:
# 합집합 구하기 #2
member_set3 = member_set1.union(member_set2)

# 확인
print(member_set3)

#### **② 교집합**

- 교집합은 & 또는 intersection() 메서드를 사용해 구합니다.

In [ ]:
# 집합 선언
member_set1 = {'홍길동', '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 교집합 구하기 #1
member_set3 = member_set1 & member_set2

# 확인
print(member_set3)

In [ ]:
# 교집합 구하기 #2
member_set3 = member_set1.intersection(member_set2)

# 확인
print(member_set3)

#### **③ 차집합**

- 차집합은 - 또는 difference() 메서드를 사용해 구합니다.

In [ ]:
# 집합 선언
member_set1 = {'홍길동', '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 차집합 구하기 #1
member_set3 = member_set1 - member_set2

# 확인
print(member_set3)

In [ ]:
# 차집합 구하기 #2
member_set3 = member_set1.difference(member_set2)

# 확인
print(member_set3)

#### **④ 대칭 차집합**

- 대칭 차집합은 ^ 또는 symmetric_difference() 메서드를 사용해 구합니다.

In [ ]:
# 집합 선언
member_set1 = {'홍길동',  '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 대칭 차집합 구하기 #1
member_set3 = member_set1 ^ member_set2

# 확인
print(member_set3)

In [ ]:
# 대칭 차집합 구하기 #2
member_set3 = member_set1.symmetric_difference(member_set2)

# 확인
print(member_set3)

## **Topic 3. 집합 관련 메서드**

### **1) 요소 추가용 메서드**

#### **① add() 메서드**

- 요소 하나를 추가할 때는 add() 메서드를 사용합니다.

In [ ]:
# 집합 선언
member_set = {'홍길동', '한사랑', '일지매', '박여인'}

# 요소 추가
member_set.add('강우동')

# 확인
print(member_set)

#### **② update() 메서드**

- 여러 요소를 추가할 때는 update() 메서드를 사용합니다.
- update() 메서드가 변경이 아닌 추가임을 기억하기 바랍니다.

In [ ]:
# 집합 선언
member_set = {'홍길동', '한사랑', '일지매', '박여인'}

# 요소 추가
member_set.update(['한국인', '나도야'])

# 확인
print(member_set)

### **2) 요소 삭제용 메서드**

#### **① pop() 메서드**

- 무작위로 요소 하나를 삭제할 때는 pop() 메서드를 사용합니다.
- pop() 메서드는 삭제되는 요소를 반환하면서 삭제합니다.

In [ ]:
# 집합 선언
member_set = {'홍길동', '한사랑', '일지매', '박여인'}

# 요소 삭제
del_member = member_set.pop()

# 확인
print(member_set)
print(del_member)

#### **② remove() 메서드**

- 요소를 지정해서 삭제할 때는 remove() 메서드를 사용합니다.
- 삭제하려는 요소가 없으면 오류가 납니다.

In [ ]:
# 집합 선언
member_set = {'홍길동', '한사랑', '일지매', '박여인'}

# 요소 삭제
member_set.remove('일지매')

# 확인
print(member_set)

#### **③ discard() 메서드**

- 요소를 지정해서 하나 삭제할 때는 discard() 메서드를 사용합니다.
- remove() 메서드와는 달리 삭제하려는 요소가 없어도 오류가 나지 않습니다.

In [ ]:
# 집합 선언
member_set = {'홍길동', '한사랑', '일지매', '박여인'}

# 요소 삭제
member_set.discard('홍길동')
member_set.discard('한국인')

# 확인
print(member_set)

#### **④ clear() 메서드**

- 모든 요소를 삭제할 때는 clear() 메서드를 사용합니다.

In [ ]:
# 집합 선언
member_set = {'홍길동', '한사랑', '일지매', '박여인'}

# 요소 삭제
member_set.clear()

# 확인
print(member_set)

## **Topic 4. 집합 자료형 활용**

### **1) 중복 요소 제거**

- 집합은 중복된 요소를 갖지 않습니다.
- 이 특징에 활용해 리스트에서 중복된 요소를 제거할 수 있습니다.

In [ ]:
# 리스트 선언
nums = [12, 45, 23, 21, 36, 28, 12, 36, 35, 28, 45, 63, 12, 21]

# 중복 제거
nums = set(nums)
nums = list(nums)

#확인
print(nums)

### **2) 중복 요소 확인**

- 교집합을 활용해 두 리스트 사이의 중복된 요소를 확인할 수 있습니다.

In [ ]:
# 리스트 선언
nums1 = [12, 23, 32, 36, 41, 48]
nums2 = [12, 19, 24, 32, 36, 47]

# 중복 확인
duplicated = set(nums1) & set(nums2)
duplicated = list(duplicated)

#확인
print(duplicated)

### **3) 요소 중복 없이 결합**

- 합집합 기능을 활용해 두 리스트의 중복된 요소를 제거하면서 결합할 수 있습니다.

In [ ]:
# 리스트 선언
nums1 = [12, 23, 32, 36, 41, 48]
nums2 = [12, 19, 24, 32, 36, 47]

# 합치기
nums = set(nums1) | set(nums2)
nums = list(nums)

#확인
print(nums)